/* Body */

body {
    background: rgb(53, 53, 53);
    background-image: url(/images/tileBG.png);
    background-size: 6.25%;
    color: white;
    font-family: fira code, sans-serif;
    margin: 0;
    padding: 0;
}

body .title {
    font-size: 3rem;
    text-align: center;
}

body .wgdesc {
    font-size: 1.5rem;
    text-align: center;
}


header .logo a {
    background-image: url(images/wglogo.png);
    background-size: 64px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 64px;
    position: relative;
    text-indent: -9999999px;
    width: 64px;
}

/* game banners */

.flappybird {
    background-image: url(images/flappybird.png);
    width: 479.25px;
    height: 255px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 20px;
}

.gainzsimulator {
    background-image: url(images/gainzsim.png);
    width: 479.25px;
    height: 255px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-left: 20px;
}