canvas {
    margin-top: 7%;
    margin-left: 25%;
    background-color: rgb(235, 235, 235);
}

.gains {
    height: 60px;
    width: 60px;
    position: absolute; top:19%; left:27%;
    background-color: blue;
    text-align: center;
}

.gainsCounter {
    position: absolute; top:19%; left:35%;
    
}

