.gains {
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 2vh;
    border: none;
}

#armSprite {
    height: 150px;
    width: 150px;
    z-index: -2;
}

.Counters {
    position: absolute;
    top: 25%;
    left: 35%;
    z-index: -1;
}

.shopItem {
    margin-top: 5px;
    display: block;
    width: 30vh;
    font-size: 1.75vh;
}


#shop {
    margin-top: 5px;
}

#body {
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.SLWbuttons button {
    font-size: 1.5vh;
}

#statistics {
    height: 50vh;
    width: 500px;
    border: .5em solid #000000;
    position: absolute;
    top: 1%;
    right: 1%;
}

#statistics p {
    margin-left: 4%;
    display: block;
}