/* Body */
html,
body {
    padding: 0;
    margin: 0;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

/* Header style */
.header {
    position: relative;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    background-color: #2b2b2f;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
    z-index: 0;
}

.header h1 {
    margin: 10px;
    padding: 0;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(220, 224, 234);
}

.header .moreGamesButton {
    font-size: 1.5vh;
    cursor: pointer;
    background-color: rgb(220, 224, 234);
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 15px;
}

.header #gymName {
    font-size: 2.5vh;
    color: rgb(220, 224, 234);
}

/* Main Div */
.main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    background-color: #b2b2c0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

#gainHere {
    background-color: #00000000;
}

.gains {
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 2vh;
    border: none;
}

#armSprite {
    align-self: center;
    justify-content: center;
    transform: scale(1);
    height: 12.5vh;
    width: 12.5vh;
    background-color: rgba(0, 0, 0, 0);
}

#armSprite:hover {
    transform: scale(.95);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

#armSprite:active {
    transform: scale(.8);
    transition: transform 0.2s ease-in-out;
}

/* Shop */

#shop {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #585e6a;
    height: 100vh;
    width: 25vw;
    z-index: 1;
}

.shopItem {
    margin-top: 5px;
    width: 22.5vw;
    height: 5vh;
    font-size: 2vh;
    background-color:#c8cfdf;
    border: none;
    border-radius: 5px;
}

/* Stats/Options */

#statistics {
    display: flex;
    flex-direction: column;
    background-color: #585e6a;
    height: 100vh;
    width: 25vw;
    position: absolute;
    right: 0;
}

#statistics p {
    margin-left: 4%;
    display: block;
}

.SLWButton {
    display: flex;
    font-size: 1.5vh;
    cursor: pointer;
    background-color: #c8cfdf;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 95%;
    align-self: center;
    width: 22.5vw;
    height: 5vh;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
}

#mobileStat {
    display: none;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    #statistics {
        display: none;
    }

    #mobileStat {
        display: block;
    }
}