body {
    font-family: fira code, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 100px;
    height: 100px;
} 