body {
    background: rgb(53, 53, 53);
    background-image: url(/images/tileBG.png);
    background-size: 6.25%;
    color: white;
    font-family: fira code, sans-serif;
    margin: 0;
    padding: 0;
}

body .title {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
}

button {
    height: 200px;
    width: 400px;
    border: none;
    margin-top: 2%;
    font-size: 4rem;
    background-color: darkred;
    color: white;
}

p {
    font-size: 2rem;
}

.generation {
    text-align: center;
}