#solveScreen {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100vw;
}

#solveScreen div {
    position: fixed;
    top: 35vh;
    left: 50vw;
    text-align: center;
}

#subCount {
    font-size: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}